node_modules
dist
.env
.DS_Store
.vscode
.idea
.cursorrules
.cursorignore
.cursorignore

.vscode
.cursorrules
.cursorignore
.cursorignore

.vscode
.cursorrules
.cursorignore
.cursorignore

package-lock.json
.cache/
summarize/*